# ==========================
# Git
# ==========================
.git
.gitignore

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment
# ==========================
.env
.env.*

!.env.example

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Static Build
# ==========================
backend/staticfiles/

# ==========================
# Database
# ==========================
*.sqlite3

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db