{% extends "base/crud_page.html" %}

{% block title %}
Update Indicator
{% endblock %}

{% block page_title %}
Update Indicator
{% endblock %}

{% block crud_content %}

<form method="post">

    {% csrf_token %}

    {% for field in form %}

    <div class="mb-3">

        <label class="form-label">

            {{ field.label }}

        </label>

        {{ field }}

        {{ field.errors }}

    </div>

    {% endfor %}

    <button
        type="submit"
        class="btn btn-primary">

        Update

    </button>

    <a
        href="{% url 'master:indicator-list' %}"
        class="btn btn-secondary">

        Cancel

    </a>

</form>

{% endblock %}