{% extends "base/layout.html" %}

{% block title %}
Recommendation
{% endblock %}

{% block content %}

<div class="dashboard-banner position-relative mb-4">


    <div class="banner-content">

        <h2>

            🏆 TOPSIS Recommendation

        </h2>

        <p>

            Tourism village ranking based on the Decision Support System.

        </p>

        <a
            href="{% url 'analytics:dashboard' %}"
            class="btn btn-success">

            <i class="bi bi-bar-chart-line me-2"></i>

            View Analytics

        </a>

    </div>

</div>

<div class="card chart-card">

    <div class="card-header bg-white border-0 fw-bold">

        Village Recommendation Ranking

    </div>

    <div class="card-body table-responsive">

        <table class="table align-middle">

            <thead>

                <tr>

                    <th>Rank</th>

                    <th>Village</th>

                    <th>Score</th>

                    <th>Status</th>

                    <th>Recommendation</th>

                </tr>

            </thead>

            <tbody>

                {% for item in ranking %}

                <tr>

                    <td>

                        <span class="badge bg-success">

                            {{ forloop.counter }}

                        </span>

                    </td>

                    <td class="fw-semibold">

                        {{ item.village.name }}

                    </td>

                    <td>

                        <strong>

                            {{ item.score }}

                        </strong>

                    </td>

                    <td>

                        <span class="badge bg-{{ item.badge }}">

                            {{ item.status }}

                        </span>

                    </td>

                    <td>

                        {{ item.recommendation }}

                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td
                        colspan="5"
                        class="text-center py-5">

                        No recommendation available.

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}