{% extends "base/crud_page.html" %}

{% block title %}
Create Questionnaire
{% endblock %}

{% block page_title %}
Create Questionnaire
{% endblock %}

{% block crud_content %}

<form method="post">

    {% csrf_token %}

    {% for field in form %}

    <div class="mb-3">

        <label class="form-label">

            {{ field.label }}

        </label>

        {{ field }}

        {{ field.errors }}

    </div>

    {% endfor %}

    <button
        type="submit"
        class="btn btn-success">

        Save

    </button>

    <a
        href="{% url 'master:questionnaire-list' %}"
        class="btn btn-secondary">

        Cancel

    </a>

</form>

{% endblock %}