{% extends "base/crud_page.html" %}

{% block title %}
Create District
{% endblock %}

{% block page_title %}
Create District
{% endblock %}

{% block crud_content %}

<form method="post">

    {% csrf_token %}

    {% for field in form %}

    <div class="mb-3">

        <label class="form-label">

            {{ field.label }}

        </label>

        {{ field }}

        {% if field.errors %}

        <div class="text-danger">

            {{ field.errors }}

        </div>

        {% endif %}

    </div>

    {% endfor %}

    <button
        type="submit"
        class="btn btn-success">

        Save

    </button>

    <a
        href="{% url 'master:district-list' %}"
        class="btn btn-secondary">

        Cancel

    </a>

</form>

{% endblock %}