*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:#edf5ef;

}

.background{

position:fixed;

inset:0;

background:

linear-gradient(rgba(255,255,255,.35),rgba(255,255,255,.35)),

url("/static/img/village-bg.svg");

background-size:cover;

background-position:center;

}

.login-card{

position:relative;

width:430px;

background:white;

border-radius:28px;

padding:45px;

box-shadow:

0 15px 50px rgba(0,0,0,.12);

backdrop-filter:blur(8px);

animation:fade .7s ease;

}

.logo{

text-align:center;

margin-bottom:35px;

}

.logo i{

font-size:65px;

color:#157347;

margin-bottom:15px;

}

.logo h1{

font-size:38px;

color:#1b3b2d;

font-weight:700;

}

.logo p{

margin-top:12px;

color:#777;

line-height:1.5;

}

.input-group{

margin-bottom:22px;

}

.input-group label{

display:block;

margin-bottom:8px;

font-weight:600;

}

.input-wrapper{

display:flex;

align-items:center;

background:#f7f7f7;

border-radius:14px;

padding:0 18px;

border:2px solid transparent;

transition:.25s;

}

.input-wrapper:focus-within{

border-color:#28a745;

background:white;

}

.input-wrapper i{

color:#28a745;

}

.input-wrapper input{

flex:1;

padding:16px;

border:none;

outline:none;

background:none;

font-size:15px;

}

#togglePassword{

border:none;

background:none;

cursor:pointer;

color:#666;

}

.login-btn{

margin-top:15px;

width:100%;

padding:16px;

border:none;

border-radius:14px;

background:#1f8f4e;

color:white;

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:.25s;

}

.login-btn:hover{

transform:translateY(-2px);

background:#17713d;

}

.error-box{

margin-bottom:18px;

padding:12px;

background:#ffe8e8;

border-left:4px solid red;

border-radius:8px;

}

footer{

margin-top:35px;

text-align:center;

font-size:14px;

color:#777;

line-height:1.7;

}

footer span{

display:block;

margin-top:10px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(25px);

}

to{

opacity:1;

transform:none;

}

}